@use "_colors" as color;
.edu{
    margin: 20px 0px;
   //border: 2px solid red;
   box-shadow:inset 2px 2px 5px gray;
   border-radius: 10px;
}
.edu h1{
    padding-top: 1rem;
    text-align: center;
}
.edu h1 span{
    color: color.$orange;
}
.cards{
   // border: 2px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width:900px) {
    .cards{
       // border: 2px solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
}